*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vw;
    overflow-x: hidden;
}
.primary-btn{
    background: #e46161;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: medium;
}
button:hover{
    background: #c05151
}
span{
    color: #e46161;

}

#navbar{
    display: flex;
    position: sticky;
    background: #252525d7;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    max-width: 1200px, 100%;
    height: 4rem;
    top: 0;   
}

#navbar ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;  
}

#navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
    white-space: nowrap;
    transition: all 0.3s;
    padding: 1rem;
}

#navbar ul li a:hover{
    background: #e46161;
    border-radius: 0px 0px 5px 5px;   
}

#logo{
    color: bisque;
    padding: 20px;
}

.hero-container{
    background: url(/images/blue.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: auto;
}

#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;
}

#hero h1{
    font-weight: bolder;
}

#about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 1rem;
    height: 20vh;
    width: 100%;

}

#about p{
    color: #333;
}

#service{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #32A9EB;
    gap: 80px;
    padding: 10px;
    height: 50vh;
    
}

#service ul{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: larger;
    gap: 4rem;
}

#service ul li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
#container{
    display: flex;
   
}

#contact{
    background-color: #e46161;
    color: whitesmoke;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

#contact-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    
}

#contact-form input{
    height: 30px;
    border-radius: 5px;
}
#contact-btn{
    background-color: #333;
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    height: 30px;
}
#pricing{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #fff;
    padding: 1rem;
    width: 50%;
    font-size: large;
}


table, td, th{
    background-color: beige;
    border: 2px solid #61bfe4 ;
    height: 80px;
    text-align: center;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    background: #333;
    color: whitesmoke;
    gap: 10px;
}

#social-links ul{
    display: flex;
    list-style: none;
    gap: 10px;
}


@media only screen and (max-width:455px) {
    #navbar{
        display: flex;
        flex-direction: column;
        position: sticky;
        background: #000;
        z-index: 999;
        top: 0; 
        padding: 1rem;
        width: 100%;     
    }

    #navbar ul{
        display: flex;
        list-style: none;
        flex-direction: row;       
    }
    #navbar ul li a{
        text-decoration: none;
        color: whitesmoke;
        font-size: large;
        white-space: nowrap;
        transition: all 0.3s;
        padding: 1px;
    }
    #container{
        display: flex;
        flex-direction: column;
       
    }
    #pricing{
        display: flex;
        flex-direction: column;
        background-color: #6affdf33;
        padding: 1rem;
        width: 100%;
        font-size: large;
    }
    #about{
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        padding: 1rem;
        height: 100%;
        width: 100%;
    
    }
    #service{
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #32A9EB;
        height: auto;  
        width: 100%;
        padding: 1rem;
        
    }

    #service ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        font-size: larger;
        gap: 4rem;
    }
    #service ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #contact{
        background-color: #e46161;
        color: whitesmoke;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }


    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20vh;
        background: #333;
        color: whitesmoke;
        gap: 10px;
        padding: 1rem;
    }

}